.login_content {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
}

.login_form_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 1em;
}

.login_form_buttons > button {
    width: 100%;
}

.login_form_controls {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.login_form,
.login_form:focus {
    background-color: transparent !important;
    border-color: rgba(0, 0, 255, 0.5) !important;
    color: rgba(0, 0, 255, 0.5) !important;
}

.login_form_addendum {
    background-color: transparent !important;
    border-color: rgba(0, 0, 255, 0.5) !important;
}

.login_form_addendum > i {
    color: rgba(0, 0, 255, 0.5);
}

.hide_password_icon {
    width: 1.5em;
}
